<div class="row" id="instance_data" data-instance-id=<%= @release.instance.id %> data-release-id=<%= @release.id %> >
    <div class="col-lg-12 text-center">
        <h1 class="page-header">Instance: <%= @release.instance.name %></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-clock-o fa-fw"></i> Log Timeline
  </div>
    <!-- /.panel-heading -->
  <div class="panel-body" id="release_logs">
    <% @release.logs.each do |release_log| %>
      <%= render partial: 'release_row', locals: { log: release_log } %>
    <% end %>
  </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->

<%= link_to 'Back', request.referrer %>
