<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="page-header">Instance: <%= @release.instance.name %></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-clock-o fa-fw"></i> Log Timeline
  </div>
    <!-- /.panel-heading -->
  <div class="panel-body">
    <% @release.logs.each do |release_log| %>
      <p>
        <small class="text-muted">
          <%= release_log.created_at %> |
          <%= release_log.lambda_name || "lambda_name"%> |
          <%= release_log.time || Time.current %> |
          <%= release_log.log %>
        </small>
      </p>
    <% end %>
  </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->

<%= link_to 'Back', request.referrer %>
